.tiles-horizontal .tile .topIcon img {
  max-width: 45px;
  max-height: 45px;
  min-width: 45px;
  min-height: 45px;
}

.science-page.main {
  background: none;
}

.main {
  padding-top: 0;
}

.main.content-main {
  padding-top: 90px;
}
