.homewelcome {
  .imageLinkCol {
    margin-bottom: 0 !important;
  }
}
.back-circle.mainCarouselCol {
  position: relative;
  width: 682px;
  height: 376px;

  .carousel-item-inner {
    .views_slideshow_controls_text_pause {
      display: none;
    }

    .views_slideshow_controls_text_previous,
    .views_slideshow_controls_text_next {
      display: inline-block;
      width: 2rem;
      height: 2rem;
      background-repeat: no-repeat;
      background-position: 50%;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;
      a {
        font-size: 0;
      }
    }

    .views_slideshow_controls_text_previous {
      background-image: url('../../images/desktop_assets/icn_announcement-previous.svg');
    }

    .views_slideshow_controls_text_next {
      background-image: url('../../images/desktop_assets/icn_announcement-next.svg');
    }

    position: relative;
    top: 50%;
    max-width: 378px;
    left: 22%;

    p {
      max-width: 378px;
      color: #fff;
    }

    .views-slideshow-pager-bullets {
      position: absolute;
      padding-left: 0;
      left: 0;
      li {
        background-color: #fff;
        opacity: 0.5;
        &.active {
          opacity: 1;
        }
      }
    }
    .views_slideshow_controls_text {
      position: absolute;
      right: 0;
    }
  }
}

.main.front {
  padding-bottom: 0;
}
